*
    .K2-grid {
      background: #000000;
      padding: 5px;
      text-align: center;
      font-family: 'Kumbh Sans', sans-serif;

  }
  
  .hero__heading {
    font-size: 70px;
    margin-bottom: 24px;
    color: #fff;
  }

  .K2-grid ul {
    background: #000000;
      clear: both;
      margin: 15px 0 20px; 
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .coll-3 ul li {
    background: #000000;
      width: 30%;
  }
  
  .K2-grid li {
      background: #000000;
      font-size: 0.9em;
      font-weight: 500;
      line-height: 1.3em;
      text-align: center;
      background: #ecb7d6;
      border-radius: 5px;
      margin: 5px 0;
      box-sizing: border-box;
      box-shadow: rgba(224, 15, 162, 0.24) 0px 3px 8px;
      padding: 10px 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .K2-grid li a {
    background: #000000;
      display: block;
      text-decoration: none;
      color: rgb(207, 21, 108);
  }
  
  .K2-grid li svg {
    background: #000000;
      margin: 3px 0;
      width: 35px;
      height: 35px;
      fill: #111011;
      display: inline-block;
  }
  
  .K2-grid li span {
    background: #000000;
      display: block;
      padding: 0 3px;
  }
  